Add support for URL parameter of limit

Since we pulled out support for HTTP Item based pagination, we have a gap now with our pagination by date added.  There is currently no way for the client to request that the server only send a certain number of records. This feature is needed to enable the client to have some level of control over the amount of data it gets.

The proposed solution for this is to add a "limit" URL parameter.  This parameter is common in many REST APIs and falls inline with common practice. 

The proposed text is:

> A single integer value that requests that the server filters the number of results to the preferred number of records that the client would like to recieve. 
> The value of the limit MUST be a positive  integer greater than zero.
> Responses to requests with a defined limit MUST contain only the requested number of records and MAY include a number of records smaller than what was requested. 
> A response to a request with a defined limit that is greater than the number of records that the server is willing to provide MAY result in a response with fewer records than what was requested or MAY result in an HTTP 400 (Bad Request) error as defined in section 6.5.1 of [RFC7231].

This has been added to working draft 04.  There is still an outstanding issue with how to deal with "more" content and pagination.  But that will be handled later when we do pagination.