Missing reference in content negotiation

In section 1.4.7 we were missing a reference to RFC6838 for how to use the version parameter.  The proposed text is:

> This specification uses HTTP content negotiation [RFC7231] and a version parameter as defined in [RFC6838] section 4.3.



The new text in the draft for this looks good to me.

The references section in 1.4.7 now looks like:

> This specification uses media types (section 3.1.1.1 of [RFC7231]) and an optional version parameter in the HTTP Accept header (section 5.3.2 of [RFC7231]) and Content-Type header (section 3.1.1.5 of [RFC7231]) to perform HTTP content negotiation as defined in [RFC7231]. 

> In addition to the following media types, this specification defines an optional version parameter per the guidelines as defined in section 4.3 of [RFC6838].