Update JSON Reference

TAXII 2.0 references [RFC 7159](https://tools.ietf.org/html/rfc7159) for JSON. It was obsoleted by [RFC 8259](https://tools.ietf.org/html/rfc8259)

TAXII 2.1 should reference RFC 8259. Additionally, RFC 8529 [changes course on Character Encoding](https://tools.ietf.org/html/rfc8259#section-8.1), moving away from non-UTF-8 payloads.

@varnerac What do we need to do, besides update the reference?  Is there specific text around UTF-8 that we need to clarify or change?

@jordan2175 Currently, TAXII 2.0 only mentions UTF once, around the `string` data type. If we're okay with only encoding the JSON as UTF-8, then I think we are fine just referencing the new document. I think UTF-8-only is the way to go, rather than swimming upstream against the JSON spec. It does not rule out other encodings in Artifacts or the Patterning Language via their binary data types.

The closer we adhere to the JSON standard, the easier it is to implement (adoption) using standard JSON libraries. It could be clarified with:

> JSON content MUST be encoded using UTF-8

matching the RFC 8529 recommendation for non-closed systems.

There are indications that the encoding of JSON character sets are murky, like https://github.com/oasis-open/cti-taxii-client/issues/10

Additionally, the [IANA media type for JSON specifically omits parameters](https://tools.ietf.org/html/rfc8259#page-11), which would include character set. It'd be nice to address/clarify before solving https://github.com/oasis-tcs/cti-taxii2/issues/29



We discussed this on the working call on 2018-02-20 with the following 15 TC members (Bret Jordan, Trey Darley, Chris Ricard, Christian Hunt, Dan Dye, Dave Lemire, Drew Varner, Efrain Ortiz, Gary Katz, Jane Ginn, John-Mark Gurney, John Wunder, Nicholas Hayden, Paul Patrick, Rich Piazza). 

The consensus on the call was to do this and mandate that JSON based encoding must use UTF-8. We recognized that we need to verify this will not break things for our members from APAC and I will do that. 

Hi, this is Ryu, a guy from APAC. I do not think making UTF-8 mandatory does not break things. Actually making sure that it is always UTF-8 (even when it consists of only Latin-1) what you receive is better and simpler, and break less things.

Agree, mandate UTF-8.

How about adding it at the end of "1.4.7 Content Negotiation"?

Old text:

> The STIX 2.0 and TAXII 2.0 media types are defined in the following table.

New text:

> The STIX 2.0 and TAXII 2.0 media types are defined in the following table. JSON content MUST be encoded using UTF-8


Added a section 1.5.7 on serialization to address this.  The text now reads:

> 1.5.7​ Serialization

> This specification uses UTF-8 encoded JSON as defined in [RFC8259] for the searlization of all TAXII resources.  
